<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    {% load static %}
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f9f9f9;">
    <header style="background-color: #4CAF50; color: white; padding: 20px; text-align: center;">
        <h1>Магазин тематических рюкзаков и сумок для школы</h1>
        <nav>
            <li style="display: inline; margin-right: 20px;">
                <a href="http://127.0.0.1:8000/about_me" style="color: white; text-decoration: none;" >О разработчике сайта | </a>
                <a href="http://127.0.0.1:8000/bag_shop" style="color: white; text-decoration: none;" >О магазине | </a>
                <a href="http://127.0.0.1:8000/spec" style="color: white; text-decoration: none;" >Квалификации</a>
            </li>            
        </nav>
    </header>
    <main style="padding: 20px; text-align: center;">
        <h2>Добро пожаловать!</h2>
        <p>Исследуйте наш ассортимент уникальных рюкзаков и сумок для школы. Выберите идеальный аксессуар для вашего ребенка!</p>
        
        <div style="margin: 20px 0;">
            <img src="{% static 'image\cat.jpg' %}" style="width: 300px; height: auto;">
        </div>

        <p>
        </p>
    </main>
    <footer style="text-align: center; padding: 10px; background-color: #4CAF50; color: white; position: relative; bottom: 0; width: 100%;">
        <p>&copy; 2025 Магазин тематических рюкзаков и сумок для школы</p>
    </footer>
</body>
</html>
