<!DOCTYPE html>
<html>
<head>
    <title>Квалификации</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Поиск</button>
    </form>
    
    <table border="1">
        <thead>
            <tr>
                <th>Код квалификации</th>
                <th>Название квалификации</th>
            </tr>
        </thead>
        <tbody>
            {% for id, name in skills.items %}
            <tr>
                <td>{{ id }}</td>
                <td>{{ name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
